@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9; 
  --foreground: #262626;    
  --foreground-secondary: #262626cc;
  --primary: #525252;       
  --secondary: #e7e5e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffff;
    --foreground-secondary: #ffffffcc;
    --primary: #a3a3a3;
    --secondary: #272727;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}
